.homeModels {
  background: url("https://images.pexels.com/photos/2693561/pexels-photo-2693561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  object-fit: contain;
}

#homeModels_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#homeModel_title_link {
  text-decoration: none !important;
  color: white !important;
}

#homeModels_title {
  font-family: sans-serif;
  font-size: 60px !important;
  font-weight: 100;
  margin: 50px 0px 40px 0px;
  text-decoration: none;
}

#link {
  text-decoration: none;
  color: whitesmoke;
}

.Models {
  margin-bottom: 20px;
}

.homeModels_more {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {


  #homeModels_title {
    font-size: 40px !important;
    font-weight: 100;
    margin: 30px 0px 20px 0px;
    text-decoration: none;
  }

  .Models {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }


}
