#iframe_style
{
    width: 32%;
    margin: 5px;
    border-radius: 15px;
    height: 250px;
}

@media screen and (max-width: 768px)
{
    #iframe_style
    {
        width: 100%;
        margin: 5px !important;
        border-radius: 15px;
        height: 180px !important;
        object-fit: contain !important;
    }
}