.login {
    background-image: url('../images/signup_1.jfif');
    background-size: cover;
    min-height: 94vh;
    color: white;
    padding-top: 50px;
}

.login-container{
    background-color: rgba(36, 34, 34, 0.794);
    border-radius:15px;
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 30%;    
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.login-title{
    margin-bottom: 10px;
}
.login-title > h1 {
    text-align: center;
    font-weight: 300;
    font-family: sans-serif;
}

#form-group1
{
    margin: 20px;
}

#input-data
{
    border-radius: 25px;
    padding: 10px;
}

#submit-form
{
    display: flex; 
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#login-or
{
    display: flex;
    justify-content: center;
    margin: auto;
}

.login-alternative
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#login-img {
    width: 30px;
    margin: 10px;
    transition: 0.1s ease-in-out !important;
}

#login-img:hover {
    transform:scale(1.2);
}

#already{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#footer {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .login-container{
        border-radius:15px;
        width: 80%;    
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .login-title{
        margin-bottom: 5px;
    }
}