.models {
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-bottom: 20px;

  min-height: 100vh;
}

.models_container {
    padding: 20px 50px 20px 50px;
}

.models_title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.models_title > h2 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 200;
    color: white;
}

.models_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

